/* Kaleidico Custom Calculators Stylesheet */

.down-payment-tooltip-hover {
	position: relative;
	display: inline-block;
}

.down-payment-tooltip {
	display: none;
	position: absolute;
	z-index: 10;
}

.down-payment-tooltip-hover:hover .down-payment-tooltip {
	display: block;
	width: 400px;
}

.loan-term-tooltip-hover {
	position: relative;
	display: inline-block;
}

.loan-term-tooltip {
	display: none;
	position: absolute;
	z-index: 10;
}

.loan-term-tooltip-hover:hover .loan-term-tooltip {
	display: block;
	width: 400px;
}
